body{
    margin-left: 2cm;
    margin-right: 2cm;
    border: 5px solid;
    background-color: antiquewhite;
}
.c3,.c4,.c5,.c6{
    margin: 80px;
    border: 1px solid black;
}
.c1{
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    margin: 15px;
}
.c1 h1{
    text-indent: 8%;
}
.c11{
    background-color:rgb(133, 100, 56);
    margin: 15px;
    text-indent: 8%;
}
.c2{
    margin-top: 60px;
   text-align: center;
}
.c6{
    background-color: rgba(0, 0, 0, 0.713);
    color: white;
}
.c6 p{
    margin: 5px;;
}
.c6 a{
    color:bisque;
    word-spacing: 5px;
}


.header1{
    text-align: end;
    word-spacing: 30px;
}
.header1 a{
    color:bisque;
   
}
.header2{
    word-spacing: 30px;
}
.header2 a{
    color:bisque;
}


img{
    padding: 10px;    
}

h2{
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.732);
    color: white;
    padding: 4px;
}

.add p{
    margin: 0;
}
.add i{
    color: gray;
}
.contact p{
    color: gray;
    margin: 2px;
}
.btn{
    background-color: rgba(0, 0, 0, 0.732);
    margin-top: 10px;
    padding: 5px;
}
.btn a{
    color: rgba(14, 3, 3, 0.617);
}
